@charset "utf-8";

.user_details_box {
    background: rgba(0, 0, 0, 0.08);
}

.user_profile_img {
    display: block;
    margin: auto;
    width: 300px !important;
    border-radius: 50%;
}

.user_profile_name {
    text-align: center;
    margin-top: 10px;
    font-family: 'Akaya Telivigala', cursive;
    color: mediumpurple;
    text-transform: capitalize;
}

table th,
table td {
    color: lightgrey;
    letter-spacing: 0.8px;
}

.signout_btn {
    margin-top: 10px;
    background: lightslategray;
    display: block;
    border-radius: 1px;
    color: white;
    letter-spacing: 1px;
}

.signout_btn:hover {
    background: rgb(91, 102, 114);
    color: white;
}